html, body {
     /* background-color: bisque; */
     background-color: black;
     margin: 0;
     padding: 0;
     /* height: 100%; */
 }
 
 body {
     overflow: hidden;
 }
 
 canvas {
     display: block;
 }

@font-face {
    font-family: 'MonkeyIsland';
    src: url('../font/MonkeyIsland-1991-refined.ttf');
}

@font-face {
    font-family: 'MonkeyIslandMenu';
    src: url('../font/lucasarts-scumm-menu-solid.ttf');
}