video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* max-width: 800px; */ 
    /* height: auto; */ 
    display: block;
    margin: 0 auto; /* Centre la vidéo */
    border-radius: 4%;
    /* position: absolute; */

}

/* Conteneur du bouton */
.custom-controls {
    /* text-align: center;
    margin-top: 10px;
    position: absolute;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* Bouton personnalisé avec image */
.play-pause-btn {
    /* background: none;
    border: none;
    cursor: pointer;
    padding: 0; */
}

/* Style des images */
.play-pause-btn img {
    /* width: 50px;
    height: auto; */
}